@import url('components.css');
@import url('utilities.css');
@import url('variables.css');
@import url('responsive/mobile.css');
@import url('responsive/medium.css');


html {
    display: table;
    text-align: center;
    margin: auto;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #202020;
    color: white;
    height: 3rem;
    margin: 9rem 0 0 0;
    overflow: hidden;
    width: 100%;
}

#header {
    margin-top: 1em;
}

#sync {
    margin-top: 0.5em;
    background-color: #8e99f3;
}

#sync:hover,
#sync:active {
    background-color: #5c6bc0;
}

.container {
    background-color: #efefef;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 1em;
    border-radius: 0.5rem;
    display: inline-flexbox;
    position: relative;
    margin: 1.5em auto;
}


#tag-creation-container {
    display: inline-flex;
}

#character-select {
    margin-right: 2em;
}


.item {
    width: 7em;
    height: 7em;
    background-color: #ffa726;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0 4px 12px;
    cursor: grab;
    position: relative;
}

.item.filtered {
    background-color: #994100;
}

#toybox-tokens .item.filtered {
    display: none !important;
}

.item:hover,
.item:focus,
.item:active,
.item.filtered:hover,
.item.filtered:focus,
.item.filtered:active {
    background-color: #c77800;
    transition: background-color 250ms;
}

.item[data-type="vehicle"] {
    background-color: #9ccc65;
}

.item.filtered[data-type="vehicle"] {
    background-color: #366600;
}

.item[data-type="vehicle"]:hover,
.item[data-type="vehicle"]:focus,
.item[data-type="vehicle"]:active,
.item.filtered[data-type="vehicle"]:hover,
.item.filtered[data-type="vehicle"]:focus,
.item.filtered[data-type="vehicle"]:active {
    background-color: #6b9b37;
}

.item.ui-sortable-helper {
    cursor: grabbing;
}

.item[id="delete-token"],
.item[id="colorToken"] {
    width: 9em;
    height: 9em;
}

#warnings {
    color: #e8eaf6;
    background-color: #26418f;
    padding: 1em;
    line-height: 2em;
    width: fit-content;
}

#status {
    color: #e8eaf6;
    background-color: #b61827;
    padding: 1em;
}

#token-box {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.box.box-edit {
    border: solid 3px transparent;
    margin: 0;
    list-style-type: none;
    padding: 10px;
    transition: background-color 0.25s ease-out;
    border-radius: 0.5rem;
    height: 8em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: default;
    padding: 10;
}

.box-edit>#delete-token {
    background-color: #ef5350;
    box-shadow: none;
    cursor: default;
}

.box-edit>#colorToken {
    background-color: #d450ef;
    box-shadow: none;
    cursor: default;
}

#remove-tokens>.placeholder {
    width: 0px;
    height: 0px;
}

.delete-token,
#toybox-tokens {
    height: 45vh;
}

.delete-token:hover {
    background-color: rgb(218, 52, 52) !important;
}



#layout-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer button {
    background-color: white;
    padding: 0 !important;
    margin: 0 8px 0 0;
    width: 32px;
    height: 32px;
    display: grid;
    align-items: center;
    justify-content: center;
}

footer button img {
    margin-right: 0.5px;
}

footer button:hover {
    background-color: #dbdbdb;
}