@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('components.css');
@import url('utilities.css');
@import url('variables.css');
@import url('responsive/mobile.css');
@import url('responsive/medium.css');
@import url('dialogs/tagCreation.css');

html {
    display: table;
    margin: auto;
    width: 100%;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, Arial;

}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 9rem 0 0 0;
    background-color: var(--dark-color-4);
    width: 100%;
    height: 3rem;
}

#header {
    margin-top: 1em;
}

#sync {
    margin-top: 0.5em;
    background-color: var(--special-color-2);
    color: var(--light-color-5);
    font-weight: light;
}

#sync:hover,
#sync:active {
    filter: brightness(87%);
}

.container {
    position: relative;
    margin: 1.5em auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #efefef;
    padding: 1em;
}

#character-select {
    margin-right: 2em;
}

.item {
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 20%) 0 4px 12px;
    background-color: #ffa726;
    cursor: grab;
    width: 7em;
    height: 7em;
    color: #000;
}

.item.filtered {
    background-color: #994100;
}

#toybox-tokens .item.filtered {
    display: none !important;
}

.item:hover,
.item:focus,
.item:active,
.item.filtered:hover,
.item.filtered:focus,
.item.filtered:active {
    transition: background-color 250ms;
    background-color: #c77800;
}

.item[data-type="vehicle"] {
    background-color: #9ccc65;
}

.item.filtered[data-type="vehicle"] {
    background-color: #366600;
}

.item[data-type="vehicle"]:hover,
.item[data-type="vehicle"]:focus,
.item[data-type="vehicle"]:active,
.item.filtered[data-type="vehicle"]:hover,
.item.filtered[data-type="vehicle"]:focus,
.item.filtered[data-type="vehicle"]:active {
    background-color: #6b9b37;
}

.item.ui-sortable-helper {
    cursor: grabbing;
}

.item[id="delete-token"],
.item[id="colorToken"] {
    width: 9em;
    height: 9em;
}

#warnings {
    background-color: var(--special-color-1);
    padding: 1em;
    width: fit-content;
    line-height: 2em;
    color: var(--light-color-2);
}

#token-box {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 0%);
}

.box.box-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease-out;
    margin: 0;
    border: solid 3px transparent;
    border-radius: 0.5rem;
    cursor: default;
    padding: 10;
    width: 8em;
    height: 8em;
    list-style-type: none;
}

.box-edit>#delete-token {
    box-shadow: none;
    background-color: #ef5350;
    cursor: default;
}

.box-edit>#colorToken {
    box-shadow: none;
    background-color: #d450ef;
    cursor: default;
}

#remove-tokens>.placeholder {
    width: 0px;
    height: 0px;
}

.delete-token,
#toybox-tokens {
    height: 45vh;
}

.delete-token:hover {
    background-color: rgb(218, 52, 52) !important;
}

#layout-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer button {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
    background-color: var(--light-color-1);
    padding: 0 !important;
    width: 32px;
    height: 32px;
}

footer button img {
    margin-right: 0.5px;
}

footer button:hover {
    background-color: var(--light-color-5);
}

#darkness {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background-color: #0000008a;
}