:root {
    --box-width: 9em;
    --box-padding: 12px;
    --box-border: 1px;
    --box-total: calc(var(--box-width) + 2 * var(--box-padding) + 2 * var(--box-border));
    --middle-box-width: 9.75em;
    --detail-color-00: rgb(53, 53, 53);
    --detail-color-01: rgb(61, 61, 61);
    --toybox-bg: #efefef;
    --toybox-inner-bg: #b4b2b2;
    --click-action-bg: #d3d0d0;
}

.dark {
    color: white !important;
    background-color: #121212;
    --toybox-bg: #272727;
    --toybox-inner-bg: #3a3a3a;
    --click-action-bg: #403e3e;
}