#edit-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(82, 80, 80);
    padding: 3rem 2rem 1rem 2rem;
}

.wrapper {
    display: grid;
    justify-content: left;
}

#edit-dialog input {
    background-color: rgb(219, 218, 218);
    padding: 0px 10px;
    border-radius: 0.2rem;
}

#edit-action #edit-dialog img {
    margin: 0;
}

#edit-dialog-main {
    margin: 0 auto;
    margin-left: auto;
    margin-bottom: 4rem;
}

#discardButton {
    margin-left: auto;
    margin-right: 8px;
}



#edit-dialog-image-area {
    justify-content: center;
    align-content: center;
    aspect-ratio: 1 / 1;
    height: 140px;
    margin-right: 2rem;
    color: rgb(121, 121, 121);
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(73, 72, 72);
    font-weight: bolder;
}

.flex {
    display: flex;
}